@theme {
  --s-base-xs: 0.64rem;
  --s-base-sm: 0.8rem;
  --s-base-md: 1rem;
  --s-base-lg: 1.25rem;
  --s-base-xl: 1.6rem;
  --s-base-2xl: 2rem;
}

@layer base {
  :root,
  :host,
  :where([class*='size-'], [class*='variant-']) {
    --s-font-size-xs: calc(var(--s-base, 1rem) * 0.64);
    --s-font-size-sm: calc(var(--s-base, 1rem) * 0.8);
    --s-font-size: var(--s-base, 1rem);
    --s-font-size-lg: calc(var(--s-base, 1rem) * 1.25);
    --s-font-size-xl: calc(var(--s-base, 1rem) * 1.6);
    --s-font-size-2xl: calc(var(--s-base, 1rem) * 2);

    --s-font-weight: 500;
    --s-font-weight-semibold: 600;
    --s-font-weight-bold: 800;

    --s-line-height-tight: var(--v-lh-tight, 1.2);
    --s-line-height: var(--v-lh, 1.5);
    --s-line-height-relaxed: var(--v-lh-relaxed, 1.625);

    --s-py: calc(var(--s-base, 1rem) * var(--v-py-mult, 0.5));
    --s-px: calc(var(--s-base, 1rem) * var(--v-px-mult, 1.25));
    --s-gap: calc(var(--s-base, 1rem) * var(--v-gap-mult, 0.5));
    --s-radius: calc(var(--s-base, 1rem) * var(--v-radius-mult, 0.5));
    --s-aspect: var(--v-aspect, auto);

    --s-separator-w: 1px;
    --s-border-w: 2px;
    --s-outline-w: 3px;
  }
}

@utility size {
  --s-base: 1rem;
}

@utility size-* {
  --s-base: --value(--s-base-*, [length]);
}
