@utility variant-style-soft {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-bg: var(--t-surface);
      --v-bg-hover: var(--t-surface-hover);
      --v-bg-active: var(--t-surface-active);
      --v-fg: var(--t-on-surface);
      --v-border: var(--t-soft-border);
      --v-separator: var(--t-soft-border);
    }
  }
}

@utility variant-style-filled {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-bg: var(--t-main);
      --v-bg-hover: var(--t-hover);
      --v-bg-active: var(--t-active);
      --v-fg: var(--t-on-main);
      --v-border: transparent;
      --v-separator: var(--t-soft-separator);
    }
  }
}

@utility variant-style-outlined {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-bg: transparent;
      --v-bg-hover: var(--t-surface);
      --v-bg-active: var(--t-surface-active);
      --v-fg: var(--t-on-transparent);
      --v-border: var(--t-on-transparent);
      --v-separator: var(--t-soft-border);
    }
  }
}

@utility variant-style-ghost {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-bg: transparent;
      --v-bg-hover: var(--t-surface);
      --v-bg-active: var(--t-surface-active);
      --v-fg: var(--t-on-transparent);
      --v-border: transparent;
      /* --v-separator: var(--t-soft-border); */
      --v-separator: transparent;
    }
  }
}

@utility variant-density-default {
  --v-py-mult: 0.5;
  --v-px-mult: 1.25;
  --v-gap-mult: 0.5;
  --v-lh-tight: 1.2;
  --v-lh: 1.5;
  --v-lh-relaxed: 1.625;
}

@utility variant-density-dense {
  --v-py-mult: 0.25;
  --v-px-mult: 0.75;
  --v-gap-mult: 0.25;
  --v-lh-tight: 1.1;
  --v-lh: 1.3;
  --v-lh-relaxed: 1.5;
}

@utility variant-density-lax {
  --v-py-mult: 0.75;
  --v-px-mult: 1.75;
  --v-gap-mult: 0.75;
  --v-lh-tight: 1.4;
  --v-lh: 1.7;
  --v-lh-relaxed: 1.925;
}

@utility variant-shape-default {
  --v-radius-mult: 0.5;
}
@utility variant-shape-pill {
  --v-radius-mult: 9999;
}
@utility variant-shape-sharp {
  --v-radius-mult: 0;
}

@utility variant-aspect-default {
  --v-aspect: auto;
  --v-px-mult: 1.25;
}
@utility variant-aspect-square {
  --v-aspect: 1/1;
  --v-px-mult: var(--v-py-mult, 0.5);
}

@utility variant-depth-* {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --depth: calc(1 + --value(integer));
      --depth-hover: calc(1 + 2 * --value(integer));

      --v-shadow:
        0 calc(1px * var(--depth)) calc(2px * var(--depth)) calc(-1px * var(--depth)) var(--m-shadow-color),
        0 calc(2px * var(--depth)) calc(6px * var(--depth)) calc(-1px * var(--depth))
          color-mix(in oklab, var(--m-shadow-color), transparent 50%);

      --v-shadow-hover:
        0 calc(1px * var(--depth-hover)) calc(2px * var(--depth-hover)) calc(-1px * var(--depth-hover))
          var(--m-shadow-color),
        0 calc(2px * var(--depth-hover)) calc(6px * var(--depth-hover)) calc(-1px * var(--depth-hover))
          color-mix(in oklab, var(--m-shadow-color), transparent 50%);

      --v-shadow-active:
        0 calc(1px * var(--depth)) calc(2px * var(--depth)) calc(-1px * var(--depth)) var(--m-shadow-color),
        0 calc(2px * var(--depth)) calc(6px * var(--depth)) calc(-1px * var(--depth))
          color-mix(in oklab, var(--m-shadow-color), transparent 50%);
    }
  }
}

@utility variant-depth-0 {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-shadow: none;
      --v-shadow-hover: none;
      --v-shadow-active: none;
    }
  }
}
