@utility variant-style-soft {
  @scope (&) to ([class~="variant-style-"]) {
    &,
    * {
      --v-bg: var(--t-surface);
      --v-bg-hover: var(--t-surface-hover);
      --v-bg-active: var(--t-surface-active);
      --v-fg: var(--t-on-surface);
      --v-border: var(--t-soft-border);
      --v-separator: var(--t-soft-border);
    }
  }
}

@utility variant-style-filled {
  @scope (&) to ([class~="variant-style-"]) {
    &,
    * {
      --v-bg: var(--t-main);
      --v-bg-hover: var(--t-hover);
      --v-bg-active: var(--t-active);
      --v-fg: var(--t-on-main);
      --v-border: transparent;
      --v-separator: var(--t-soft-separator);
    }
  }
}

@utility variant-style-outlined {
  @scope (&) to ([class~="variant-style-"]) {
    &,
    * {
      --v-bg: transparent;
      --v-bg-hover: var(--t-surface);
      --v-bg-active: var(--t-surface-active);
      --v-fg: var(--t-main);
      --v-border: var(--t-main);
      --v-separator: var(--t-soft-border);
    }
  }
}

@utility variant-style-ghost {
  @scope (&) to ([class~="variant-style-"]) {
    &,
    * {
      --v-bg: transparent;
      --v-bg-hover: var(--t-surface);
      --v-bg-active: var(--t-surface-active);
      --v-fg: var(--t-main);
      --v-border: transparent;
      --v-separator: var(--t-soft-border);
    }
  }
}

@utility variant-density-default {
  @scope (&) to ([class~="variant-density-"]) {
    &,
    * {
      --s-py: calc(var(--s-base) * 0.5);
      --s-px: calc(var(--s-base) * 1.25);
      --s-gap: calc(var(--s-base) * 0.5);
      --s-line-height-tight: 1.2;
      --s-line-height: 1.5;
      --s-line-height-relaxed: 1.625;
    }
  }
}

@utility variant-density-dense {
  @scope (&) to ([class~="variant-density-"]) {
    &,
    * {
      --s-py: calc(var(--s-base) * 0.25);
      --s-px: calc(var(--s-base) * 0.75);
      --s-gap: calc(var(--s-base) * 0.25);
      --s-line-height-tight: 1.1;
      --s-line-height: 1.3;
      --s-line-height-relaxed: 1.5;
    }
  }
}

@utility variant-density-lax {
  @scope (&) to ([class~="variant-density-"]) {
    &,
    * {
      --s-py: calc(var(--s-base) * 0.75);
      --s-px: calc(var(--s-base) * 1.75);
      --s-gap: calc(var(--s-base) * 0.75);
      --s-line-height-tight: 1.4;
      --s-line-height: 1.7;
      --s-line-height-relaxed: 1.925;
    }
  }
}

@utility variant-shape-default {
  @scope (&) to ([class~="variant-shape-"]) {
    &,
    * {
      --s-radius: calc(var(--s-base) * 0.5);
    }
  }
}

@utility variant-shape-pill {
  @scope (&) to ([class~="variant-shape-"]) {
    &,
    * {
      --s-radius: 100vmax;
    }
  }
}

@utility variant-shape-sharp {
  @scope (&) to ([class~="variant-shape-"]) {
    &,
    * {
      --s-radius: 0;
    }
  }
}

@utility variant-aspect-default {
  @scope (&) to ([class~="variant-aspect-"]) {
    &,
    * {
      --s-aspect: auto;
      --s-px: calc(var(--s-base) * 0.75);
    }
  }
}

@utility variant-aspect-square {
  @scope (&) to ([class~="variant-aspect-"]) {
    &,
    * {
      --s-aspect: 1/1;
      --s-px: calc(var(--s-base) * 0.25);
    }
  }
}

@utility variant-depth-0 {
  @scope (&) to ([class~="variant-depth-"]) {
    &,
    * {
      --v-shadow: none;
      --v-shadow-hover: none;
      --v-shadow-active: none;
    }
  }
}

@utility variant-depth-1 {
  @scope (&) to ([class~="variant-depth-"]) {
    &,
    * {
      --v-shadow: 0 1px 2px var(--m-shadow-color);
      --v-shadow-hover: 0 4px 12px -2px var(--m-shadow-color);
      --v-shadow-active: 0 1px 2px var(--m-shadow-color);
    }
  }
}
