@utility variant-style-soft {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-bg: var(--t-surface);
      --v-bg-hover: var(--t-surface-hover);
      --v-bg-active: var(--t-surface-active);
      --v-fg: var(--t-on-surface);
      --v-border: var(--t-soft-border);
      --v-separator: var(--t-soft-separator);
    }
  }
}

@utility variant-style-filled {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-bg: var(--t-main);
      --v-bg-hover: var(--t-hover);
      --v-bg-active: var(--t-active);
      --v-fg: var(--t-on-main);
      --v-border: transparent;
      --v-separator: var(--t-soft-separator);
    }
  }
}

@utility variant-style-outlined {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-bg: transparent;
      --v-bg-hover: var(--t-transparent-hover);
      --v-bg-active: var(--t-transparent-active);
      --v-fg: var(--t-on-transparent);
      --v-border: var(--t-soft-border);
      --v-separator: var(--t-soft-separator);
    }
  }
}

@utility variant-style-ghost {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-bg: transparent;
      --v-bg-hover: var(--t-transparent-hover);
      --v-bg-active: var(--t-transparent-active);
      --v-fg: var(--t-on-transparent);
      --v-border: transparent;
      /* --v-separator: var(--t-soft-separator); */
      --v-separator: transparent;
    }
  }
}

@utility variant-density-default {
  --v-py-mult: 0.25;
  --v-py-offset: 2px;
  --v-px-mult: 0.5;
  --v-px-offset: 4px;
  --v-gap-mult: 0.5;
  --v-lh-tight: 1.25;
  --v-lh: 1.5;
  --v-lh-relaxed: 1.75;
}

@utility variant-density-dense {
  --v-py-mult: 0.125;
  --v-py-offset: 1px;
  --v-px-mult: 0.25;
  --v-px-offset: 2px;
  --v-gap-mult: 0.4;
  --v-lh-tight: calc(1.5 - 6px / var(--s-base));
  --v-lh: calc(1.75 - 6px / var(--s-base));
  --v-lh-relaxed: calc(2 - 6px / var(--s-base));
}

@utility variant-density-lax {
  --v-py-mult: 0.375;
  --v-py-offset: 3px;
  --v-px-mult: 0.75;
  --v-px-offset: 6px;
  --v-gap-mult: 0.625;
  --v-lh-tight: calc(1 + 6px / var(--s-base));
  --v-lh: calc(1.25 + 6px / var(--s-base));
  --v-lh-relaxed: calc(1.5 + 6px / var(--s-base));
}

@utility variant-shape-default {
  --v-radius-mult: 0.5;
}
@utility variant-shape-pill {
  --v-radius-mult: 9999;
}
@utility variant-shape-sharp {
  --v-radius-mult: 0;
}

@utility variant-aspect-default {
  --v-aspect: auto;
  --v-px-mult: 1.25;
}
@utility variant-aspect-square {
  --v-aspect: 1/1;
  --v-px-mult: var(--v-py-mult, 0.5);
}

@utility variant-depth-* {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --depth: calc(--value(integer) + 1);
      --depth-hover: calc(--value(integer) + 2);
      --depth-active: calc(2 * --value(integer) - 2);

      --v-shadow:
        0 calc(1px * var(--depth)) calc(2px * var(--depth)) calc(-1px * var(--depth)) var(--m-shadow-color),
        0 calc(2px * var(--depth)) calc(6px * var(--depth)) calc(-1px * var(--depth))
          color-mix(in oklab, var(--m-shadow-color), transparent 50%);

      --v-shadow-hover:
        0 calc(1px * var(--depth-hover)) calc(2px * var(--depth-hover)) calc(-1px * var(--depth-hover))
          var(--m-shadow-color),
        0 calc(2px * var(--depth-hover)) calc(6px * var(--depth-hover)) calc(-1px * var(--depth-hover))
          color-mix(in oklab, var(--m-shadow-color), transparent 50%);

      --v-shadow-active:
        0 calc(1px * var(--depth-active)) calc(2px * var(--depth-active)) calc(-1px * var(--depth-active))
          var(--m-shadow-color),
        0 calc(2px * var(--depth-active)) calc(6px * var(--depth-active)) calc(-1px * var(--depth-active))
          color-mix(in oklab, var(--m-shadow-color), transparent 50%);
    }
  }
}

@utility variant-depth-0 {
  @scope (&) {
    &,
    :where([class*='mode-'], [class*='theme-'], [class*='variant-']) {
      --v-shadow: none;
      --v-shadow-hover: none;
      --v-shadow-active: none;
    }
  }
}
