@import 'tailwindcss';

@import '@pdanpdan/css-ui/styles/main.css';

:root {
  font-family: 'Inter', system-ui, sans-serif;
}

h1,
h2,
h3,
h4 {
  @apply relative tracking-tight;

  &:before {
    @apply absolute me-3 w-1.5 rounded-full;
    --tw-content: '';
    content: var(--tw-content);
    background-color: var(--t-main);
    inset-block: --spacing(1);
    inset-inline-end: 100%;
  }
}

h1 {
  @apply text-4xl font-black;
}

h2 {
  @apply text-2xl font-extrabold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-semibold;
}

dt {
  @apply font-bold;
}

dd {
  @apply ms-4;
}

.inspect-class {
  @apply absolute end-1 top-1 z-1 rounded-sm px-2 py-0.5 text-end text-xs;
  color: var(--m-text-muted);
  background-color: var(--m-surface-3);

  &:hover {
    color: var(--m-text);
  }
}

.separator-vertical {
  @apply h-8 w-0.5 border-0;
  background-color: var(--m-surface-3);
}

.form-input {
  @apply ml-2 border-b bg-transparent font-bold outline-none;
}

.form-label {
  @apply font-bold;
}

.form-help {
  @apply text-xs opacity-70;
}
