@utility btn {
  @layer cssui.l1.l2.l3 {
    @apply inline-flex cursor-pointer appearance-none items-center justify-center select-none;
    font-family: inherit;
    font-size: var(--s-font-size);
    font-weight: var(--s-font-weight);
    line-height: var(--s-line-height);
    padding: var(--v-py, var(--s-py)) var(--v-px, var(--s-px));
    gap: var(--s-gap);
    border-radius: var(--s-radius);
    border: var(--s-border-w) solid var(--v-border);
    background-color: var(--v-bg);
    color: var(--v-fg);
    aspect-ratio: var(--s-aspect);

    &[aria-label]:empty {
      &::after {
        content: var(--tw-content, attr(aria-label));
      }
    }
  }

  @layer cssui.l1 {
    outline: 0 solid transparent;
    outline-offset: var(--s-outline-offset, 2px);

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--transition, all var(--transition-timing));
    }

    &:where(
      :not(:disabled, [disabled]:not([disabled='false']), [aria-disabled]:not([aria-disabled='false']), .state-disabled)
    ) {
      @media (hover: hover) and (pointer: fine) {
        &:where(:hover) {
          background-color: var(--v-bg-hover);
          transform: var(--transform-hover);
        }
      }

      &:where(.state-hover) {
        background-color: var(--v-bg-hover);
        transform: var(--transform-hover);
      }

      &:where(
        :active,
        :checked,
        :target,
        [aria-current='page'],
        [aria-pressed]:not([aria-pressed='false']),
        [aria-selected]:not([aria-selected='false']),
        .state-active,
        :has(:checked)
      ) {
        background-color: var(--v-bg-active);
      }

      &:where(:active) {
        transform: var(--transform-active, translateY(1px));
      }

      &:where(:focus-visible, .state-focus, :has(:focus-visible)) {
        outline: var(--s-outline-w) solid var(--t-ring);
      }
    }

    &:where(
      :disabled,
      [disabled]:not([disabled='false']),
      [aria-disabled]:not([aria-disabled='false']),
      .state-disabled
    ) {
      @apply cursor-not-allowed opacity-60;
      filter: grayscale(1) contrast(0.8);
      background-color: var(--v-bg-disabled);
      color: var(--v-fg-disabled, var(--m-text-muted));
      border-color: var(--v-border-disabled);
    }
  }
}
