@utility btn {
  @layer cssui.l1.l2.l3 {
    @apply inline-flex h-auto w-0 min-w-fit shrink-0 cursor-pointer appearance-none items-center justify-center select-none;

    --c-bg: var(--v-bg, transparent);
    --c-fg: var(--v-fg, inherit);
    --c-border: var(--v-border, transparent);
    --c-shadow: var(--v-shadow, none);
    --c-bg-hover: var(--v-bg-hover, color-mix(in oklab, var(--m-text) 8%, var(--c-bg)));
    --c-bg-active: var(--v-bg-active, color-mix(in oklab, var(--m-text) 16%, var(--c-bg)));

    gap: var(--s-gap);
    font-family: inherit;
    font-size: var(--s-font-size);
    font-weight: var(--s-font-weight);
    line-height: var(--s-line-height);
    padding: var(--s-py) var(--s-px);
    border-radius: var(--s-radius);
    border: var(--s-border-w) solid var(--c-border);
    background-color: var(--c-bg);
    color: var(--c-fg);
    aspect-ratio: var(--s-aspect);
    box-shadow: var(--c-shadow);

    &[aria-label]:empty::after {
      --tw-content: attr(aria-label);
      content: var(--tw-content);
    }
  }

  @layer cssui.l1 {
    outline: 0 solid transparent;
    outline-offset: var(--s-outline-offset, 2px);

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--transition, all var(--transition-timing));
    }

    &:where(
      :not(:disabled, [disabled]:not([disabled='false']), [aria-disabled]:not([aria-disabled='false']), .state-disabled)
    ) {
      @media (hover: hover) and (pointer: fine) {
        &:where(:hover) {
          @apply z-1;
          background-color: var(--c-bg-hover);
          color: var(--c-fg);
          box-shadow: var(--v-shadow-hover, var(--c-shadow));
          transform: var(--transform-hover);
        }
      }

      &:where(.state-hover) {
        background-color: var(--c-bg-hover);
        color: var(--c-fg);
        box-shadow: var(--v-shadow-hover, var(--c-shadow));
        transform: var(--transform-hover);
      }

      &:where(
        :active,
        :checked,
        :target,
        [aria-current='page'],
        [aria-pressed]:not([aria-pressed='false']),
        [aria-selected]:not([aria-selected='false']),
        .state-active,
        :has(:checked)
      ) {
        background-color: var(--c-bg-active);
        color: var(--c-fg);
        box-shadow: var(--v-shadow-active, var(--c-shadow));
      }

      &:where(:active) {
        @apply z-1;
        transform: var(--transform-active, translateY(1px));
      }

      &:where(:focus-visible, .state-focus, :has(:focus-visible)) {
        outline: var(--s-outline-w) solid var(--t-ring);
      }
    }

    &:where(
      :disabled,
      [disabled]:not([disabled='false']),
      [aria-disabled]:not([aria-disabled='false']),
      .state-disabled
    ) {
      @apply cursor-not-allowed;
      filter: grayscale(0.4) contrast(0.8) opacity(0.6);
    }
  }
}
