@utility list {
  @layer cssui.l1.l2.l3 {
    @apply flex flex-col overflow-hidden;
    border-radius: var(--s-radius);
    border: var(--s-border-w) solid var(--v-border, transparent);
    background-color: var(--v-bg);
    color: var(--v-fg);
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-relaxed);
  }
}

@utility list-row {
  @layer cssui.l1.l2.l3 {
    @apply relative grid grid-flow-col items-center;
    --list-grid-cols: minmax(0, auto) 1fr;
    grid-template-columns: var(--list-grid-cols);
    gap: var(--s-gap);
    padding: var(--s-py) var(--s-px);

    & > * {
      @apply z-1;
    }

    &:not(:last-child)::after {
      @apply absolute bottom-0;
      content: '';
      inset-inline: var(--s-px);
      border-bottom: var(--s-separator-w) solid var(--v-separator, var(--m-surface-1));
    }

    &:has(.list-col-grow:nth-child(1)) {
      --list-grid-cols: 1fr;
    }
    &:has(.list-col-grow:nth-child(2)) {
      --list-grid-cols: minmax(0, auto) 1fr;
    }
    &:has(.list-col-grow:nth-child(3)) {
      --list-grid-cols: minmax(0, auto) minmax(0, auto) 1fr;
    }
    &:has(.list-col-grow:nth-child(4)) {
      --list-grid-cols: minmax(0, auto) minmax(0, auto) minmax(0, auto) 1fr;
    }
    &:has(.list-col-grow:nth-child(5)) {
      --list-grid-cols: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) 1fr;
    }
    &:has(.list-col-grow:nth-child(6)) {
      --list-grid-cols: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) 1fr;
    }
  }
}

@utility list-row-separator-bleed {
  @layer cssui.l1.l2 {
    &::after {
      inset-inline: 0;
    }
  }
}

@utility list-row-interactive {
  @layer cssui.l1 {
    outline: 0 solid transparent;
    outline-offset: var(--s-outline-offset, -3px);

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--transition, all var(--transition-timing));
    }

    &[tabindex]:not(
        [tabindex^='-'],
        :disabled,
        [disabled]:not([disabled='false']),
        [aria-disabled]:not([aria-disabled='false']),
        .state-disabled
      ) {
      @apply cursor-pointer;
    }

    &:where(:hover, .state-hover):not(
        :disabled,
        [disabled]:not([disabled='false']),
        [aria-disabled]:not([aria-disabled='false']),
        .state-disabled
      ) {
      background-color: var(--v-bg-hover, var(--m-surface-2));
      transform: var(--transform-hover);
    }

    &:where(
        :active,
        :target,
        [aria-current='page'],
        [aria-pressed]:not([aria-pressed='false']),
        [aria-selected]:not([aria-selected='false']),
        .state-active,
        :has(.card-selector:checked)
      ):not(
        :disabled,
        [disabled]:not([disabled='false']),
        [aria-disabled]:not([aria-disabled='false']),
        .state-disabled
      ) {
      background-color: var(--v-bg-active, var(--m-surface-3));
    }

    &:where(:active):not(
        :disabled,
        [disabled]:not([disabled='false']),
        [aria-disabled]:not([aria-disabled='false']),
        .state-disabled
      ) {
      transform: var(--transform-active);
    }

    &:where(:focus-visible, .state-focus, :has(.card-selector:focus-visible)):not(
        :disabled,
        [disabled]:not([disabled='false']),
        [aria-disabled]:not([aria-disabled='false']),
        .state-disabled
      ) {
      outline: var(--s-outline-w) solid var(--t-ring, var(--m-text));
    }

    &:where(
      :disabled,
      [disabled]:not([disabled='false']),
      [aria-disabled]:not([aria-disabled='false']),
      .state-disabled
    ) {
      @apply cursor-not-allowed opacity-60;
      filter: grayscale(1) contrast(0.8);
      background-color: var(--v-bg-disabled);
      color: var(--v-fg-disabled, var(--m-text-muted));
      border-color: var(--v-border-disabled);
    }
  }
}

@utility list-title {
  @layer cssui.l1.l2.l3 {
    @apply m-0;
    font-weight: var(--s-font-weight-bold);
    font-size: var(--s-font-size-md);
  }
}

@utility list-subtitle {
  @layer cssui.l1.l2.l3 {
    @apply m-0 opacity-80;
    font-size: var(--s-font-size-xs);
  }
}

@utility list-col-wrap {
  @layer cssui.l1.l2.l3 {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}
