@utility surface {
  @layer cssui.l1.l2 {
    background-color: var(--m-bg);
    color: var(--m-text);
  }
}

@utility surface-lv-1 {
  @layer cssui.l1.l2 {
    background-color: var(--m-surface-1);
    color: var(--m-text);
  }
}

@utility surface-lv-2 {
  @layer cssui.l1.l2 {
    background-color: var(--m-surface-2);
    color: var(--m-text);
  }
}

@utility surface-lv-3 {
  @layer cssui.l1.l2 {
    background-color: var(--m-surface-3);
    color: var(--m-text);
  }
}

@utility surface-themed {
  @layer cssui.l1.l2 {
    background-color: var(--v-bg);
    color: var(--v-fg);
  }
}
