@utility surface {
  @layer utilities.cssui {
    background-color: var(--m-bg);
    color: var(--m-text);
    /* transition: var(--transition, background-color var(--transition-timing), color var(--transition-timing)); */
  }
}

@utility surface-lv-1 {
  @layer utilities.cssui {
    background-color: var(--m-surface-1);
    color: var(--m-text);
  }
}

@utility surface-lv-2 {
  @layer utilities.cssui {
    background-color: var(--m-surface-2);
    color: var(--m-text);
  }
}

@utility surface-lv-3 {
  @layer utilities.cssui {
    background-color: var(--m-surface-3);
    color: var(--m-text);
  }
}

@utility surface-themed {
  @layer utilities.cssui {
    background-color: var(--v-bg);
    color: var(--v-fg);
  }
}
