@theme inline {
  --color-surface: var(--m-bg);
  --color-surface-1: var(--m-surface-1);
  --color-surface-2: var(--m-surface-2);
  --color-surface-3: var(--m-surface-3);
  --color-surface-text: var(--m-text);
}

@utility surface-lv-* {
  @layer cssui.l1.l2 {
    --m-current-bg: --value(--color-surface-*);
    background-color: var(--m-current-bg);
    color: var(--m-text);
  }
}

@utility surface {
  @layer cssui.l1.l2 {
    --m-current-bg: var(--m-bg);
    background-color: var(--m-current-bg);
    color: var(--m-text);
  }
}

@utility surface-themed {
  @layer cssui.l1.l2 {
    --m-current-bg: var(--m-bg);
    background-color: var(--v-bg);
    color: var(--v-fg);
  }
}
